pip install --upgrade huggingface_hub
pip install matplotlib
pip install fastparquet
pip install pyarrow
pip install pandas
pip install torch
pip install torchattacks
pip install torchvision
pip install scikit-learn
pip install datasets 